<section class="vh-100 bgImage">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <h2 class="mb-5" >Créer un compte</h2>

            <app-alert
              [message]="success"
              [title]="'Succès!'"
              *ngIf="isSuccess"
            ></app-alert>

            <app-alert
              [message]="error"
              [title]="'Désolé!'"
              *ngIf="isFailed"
            ></app-alert>

            <div *ngIf="isLoading">
              <app-loading-spinner></app-loading-spinner>
            </div>
            <form
              #signupForm="ngForm"
              (ngSubmit)="onSubmit()"
            >
              <div class="form-outline mb-4">
                <div>
                  <div class="input-group mb-3">
                    <div class="form-floating">
                      <input
                        type="text"
                        class="form-control"
                        id="email"
                        required
                        email
                        name="email"
                        ngModel
                        #email="ngModel"
                      />
                      <label for="email">Email</label>
                    </div>
                    <span class="input-group-text">
                      <div class="input-group-addon">
                        <i
                          class="fa fa-envelope-o"
                          style="font-size: 1.5rem; color: rgb(227, 162, 223)"
                        ></i>
                      </div>
                    </span>
                  </div>
                  <span
                    class="help-block errorStyle mt-4"
                    *ngIf="email.errors?.['required'] && email.touched"
                  >
                    Ce champs est obligatoire</span
                  >
                  <span
                    class="help-block errorStyle mt-4"
                    *ngIf="email.errors?.['email'] && email.touched"
                    >Adresse mail invalide! Ex: eve.holt@reqres.in</span
                  >
                </div>

                <div>
                  <div class="input-group my-3">
                    <div class="form-floating">
                      <input
                        type="{{ type }}"
                        class="form-control"
                        id="password"
                        required
                        ngModel
                        name="password"
                        minlength="8"
                        #password="ngModel"
                        pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$"
                      />
                      <label for="password">Mot de passe</label>
                    </div>
                    <span class="input-group-text">
                      <div class="input-group-addon">
                        <a (click)="onShow()">
                          <i
                            class="bi bi-eye-slash"
                            style="font-size: 1.5rem; color: rgb(227, 162, 223)"
                            [hidden]="!showPassword"
                          ></i>
                          <i
                            class="bi bi-eye"
                            style="font-size: 1.5rem; color: rgb(227, 162, 223)"
                            [hidden]="showPassword"
                          ></i>
                        </a>
                      </div>
                    </span>
                  </div>
                  <span
                    class="help-block errorStyle mt-4"
                    *ngIf="password.errors?.['required'] && password.touched"
                  >
                    Ce champs est obligatoire</span
                  >
                  <span
                    class="help-block errorStyle mt-4"
                    *ngIf="password.errors?.['pattern'] && password.touched"
                    >Un mot de passe est valide lorsqu'il contient au moins 1
                    caractère majuscule, au moins 1 caractère minuscule, au
                    moins 1 chiffre et au minimum 8 caractères</span
                  >
                </div>
              </div>

              <div class="form-outline mb-4">
                <div class="shadow-lg"></div>
              </div>

              <div class="mt-3">
                <button
                  class="btn btn-lg btn-block d-grid gap-2 col-6 mx-auto"
                  style="color: white; background-color: rgb(227, 162, 223)"
                  type="submit"
                  [disabled]="!signupForm.valid"
                >
                  Registre
                </button>
              </div>
            </form>
            <div class="mt-5">
              <label class="form-label" for="form1Example3">
                Je suis déjà membre?
                <span style="color: rgb(227, 162, 223)"
                  ><a routerLink="/signin"> Se connecter</a></span
                >
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
