<div class="d-flex justify-content-center">
  <div class="col-md-8">
    <div class="row">
      <div class="col-xs-12">
        <button class="btn " style="background-color: rgb(227, 162, 223); color: white;" (click)="backToList()">Retour</button>
      </div>
    </div>
    <hr />

    <div class="row">
  

        <div class="col-md-6">
        <div class="row">
          <div class="col-xs-12 text-center">
            <img
              [src]="user.avatar"
              [src]="user.avatar != '' ? user.avatar : myImgUrl"
              alt="{{ user.firstname }}"
              class="img-fluid img-thumbnail"
              style="width:90%; height: 80%;"
            />
          </div>
        </div>
      </div>
     
      <div class="col-md-6" style="font-size: 20px; ">
       
        
        <div class="row p-2">
          <div class="col-xs-12"> 
          <b style="color:#886185"> Non :</b>  {{ user.lastname }}</div>
        </div>
        <div class="row p-2">
          <div class="col-xs-12">
           <b style="color:#886185">Prénom :</b>  {{ user.firstname }}</div>
        </div>
        <div class="row p-2">
          <div class="col-xs-12">
           <b style="color:#886185">Email :</b>  {{ user.email }}</div>
      </div>
      <div class="row p-2">
      <div class="col-xs-12" >
        <b style="color:#886185">Travail : </b> {{ user.job }}
      </div>
      </div>
    </div>
      
    </div>
  </div>
</div>
